<!DOCTYPE html>
<html>
<head>
  <title>ProductxEmcIt</title>
  <%= stylesheet_link_tag    "productx_emc_it/application", :media => "all" %>
  <%= javascript_include_tag "productx_emc_it/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
